{% extends "base.html" %}

{% block body %}
    <h4>CDOJ <a target="_blank" href="http://oj.codedream.edu.vn">(CodeDream Online Judge)</a> là một trang web chấm bài tự động của Trung tâm đào tạo lập trình CodeDream được phát triển dựa trên nền tảng mã nguồn mở <a target="_blank" href="https://dmoj.ca/">DMOJ</a> bởi LQDJudge Team. Các bạn có thể tham khảo mã nguồn của trang web tại <a target="_blank" href="https://github.com/LQDJudge/online-judge">Github repo chính thức</a>. </h4> 
    <h4>Được xây dựng với mục đích là tạo ra một môi trường học tập cho các bạn yêu thích lập trình, thuật toán. Trang web cung cấp lượng bài luyện tập đồ sộ từ cơ bản cho các bạn mới làm quen đến ôn thi các kỳ thi HSG các cấp Quận/Huyện, Thành Phố, Quốc Gia, ACM ICPC, Olympic Duyên Hải Bắc Bộ,... </h4>   
    </br>
    <h4 style="margin-top:0px;">Một số trường đã triển khai hoạt động giảng dạy và học tập tại CDOJ:
    <ul style="margin-top:0px;">
        <li>Trường THPT Chuyên Nguyễn Huệ</li>
        <li>Trường liên cấp TH&THCS Ngôi Sao Hà Nội</li>
        <li>Trường THPT Chuyên Hà Nội Amsterdam</li>
    </ul>
    </h4>
    <h4> Mọi ý kiến đóng góp và thắc mắc xin gửi về: </br>
    <span style="padding-left:24px">Trung tâm đào tạo lập trình CodeDream </span>
    <ul style="margin-top:0px;">
        <li>Địa chỉ: 12 Vũ Trọng Khánh, P.Mộ Lao, Q. Hà Đông, TP. Hà Nội.</li>
        <li>SĐT: 0971 73 0550 </li>
        <li>Email: <a href="mailto:info@codedream.edu.vn">info@codedream.edu.vn</a></li>
    </ul>
    </h4>
{% endblock %}