<span style="display:block;margin: 0 2px;padding: 1em;background-color: white;border-radius: 6px;font-size: .95em;color: #444;margin-bottom:0.75em">
<div style="display: flex;">
      <img src="https://i.imgur.com/FfMwT2p.png" style="height: 200px; margin: 0 auto">
</div>
</span>
<div style="display:block;margin: 0 2px;padding: 1em;background-color: #f8f8f8;border-radius: 6px;font-size: 1.2em;color: #444;">

<b>Forgot your password on the CDOJ: CodeDream Online Judge? Don't worry!</b><br><br>
To reset the password for your account <span style="font-weight: bold;">"{{ user.get_username() }}"</span>, click the below button.
<p align="center">
<a href="{{ protocol }}://oj.codedream.edu.vn{{ url('password_reset_confirm', uidb64=uid, token=token) }}" style="cursor: pointer;display:block;text-align: center;padding: 4px 2px 5px;color: white;border-radius: 0.25rem;background: #2980b9;background: #EB8C32;text-decoration: none;line-height:2em;font-size:1emm;width:12em;">Reset password</a>
</p>
{% if SITE_ADMIN_EMAIL %}
See you soon! If you have problems resetting your email, feel free to shoot us an email at <a href="mailto:{{ SITE_ADMIN_EMAIL }}">{{ SITE_ADMIN_EMAIL }}</a>
{% else %}
See you soon!
{% endif %}
</div>
